<form method="post" action="/services/falecompromotor/email" class="needs-validation" novalidate>
    <div class="form-group">
        <label for="fromEmail">De</label>
        <input type="email" class="form-control" id="fromEmail" name="fromEmail" placeholder="meu.email@meu.com" required>
        <div class="invalid-feedback">
            Deve preencher o seu email.
        </div>
    </div>
    <div class="form-group">
        <label for="subjectEmail">Assunto</label>
        <select class="form-control" name="subjectEmail">
            <option value="publicar">Publicar</option>
            <option value="Bilhete">Bilhete</option>
        </select>
        <div class="invalid-feedback">
            Selecione um assunto antes de enviar o email.
        </div>
    </div>
    <div class="form-group">
        <label for="bodyEmail">Texto</label>
        <textarea class="form-control" name="bodyEmail" id="bodyEmail" rows="5"required></textarea>
        <div class="invalid-feedback">
            E obrigatorio preencher a mensagem.
        </div>
    </div>

    <button type="submit" class="btn btn-success float-right">Enviar</button>
</form>